name = "d1-test"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[build]
command = "zig build"

[[rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]

[[d1_databases]]
binding = "DB"
database_id = "local"
database_name = "test-db"
