name = "todo-api"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[build]
command = "zig build"

[[rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]
fallthrough = false

[[d1_databases]]
binding = "DB"
database_name = "todo-db"
database_id = "local-todo-db"
