name = "websocket-chat"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[build]
command = "zig build"

[[rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]
fallthrough = false

# Durable Objects binding
[[durable_objects.bindings]]
name = "CHAT_ROOM"
class_name = "ChatRoom"

# Durable Objects migration
[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]
